html {
    margin: 0px;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    
}

#logo {
    margin: 0px;
    font-weight: 200;
    font-size: 500%;
}

ul { margin: 0px;
    font-family: "Fredoka One", sans-serif;
    font-family: "Times New Roman", sans-serif;
    width: 16%;

}
 
body > header {
    background-color: orange;
    color: white;
    background-color: aqua;
    color: grey;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
} 

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}


body > header > nav ul {
    list-style: none;
    text-decoration: none;
}

body > main article {
    width: 60%;
    width: 70;
    margin: auto;
    padding: 6rem;
}

#main-content{
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

h2{
    text-align: center;
}

form {
    text-align: center; 
}

.navbutton {
    color: white;
    color:gray;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
    border: 10px solid grey;
    border-radius: 20%;
}

body > footer {
    background-color: orange;
    background-color: aqua;
    display: flex;


}

img {
    border-radius: 100%;
}

#footer-ul {
    display: flex;
    list-style: none;
    color: grey;
    align-items: center;
   
}

#footer-ul > div > li {
    margin-left: 12px;
    margin-left: 11px;
    justify-content: space-between;
    
}
#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}    color: grey;
    display: flex;


}

#title {
    font-size: 125%;
    color: grey;
    padding-left: .5rem;
}
    

.arash {
    font-weight: bold;
    color: navy;
    font-size: larger;
}

    
